PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/sary_foundation
JWT_SECRET=sary_foundation_secure_super_secret_jwt_key_2025_prod
BREVO_API_KEY=your_brevo_api_key_here
BREVO_SENDER_EMAIL=saryfoundation@gmail.com
ADMIN_NOTIFICATION_EMAIL=saryfoundation@gmail.com
CLIENT_URL=http://localhost:5173
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
